# Build results
[Bb]in/
[Oo]bj/

# Rider / ReSharper
.idea/
*.DotSettings.user

# Visual Studio
.vs/
*.user
*.suo

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Test results
[Tt]est[Rr]esult*/
*.trx

# OS files
.DS_Store
Thumbs.db
